header {
	display: block;
	color: white;
    height: 150px;
    background-color: 

background: rgba(24,45,6,1);
background: -moz-linear-gradient(45deg, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 60%, rgba(74,95,58,1) 89%, rgba(74,95,58,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(24,45,6,1)), color-stop(60%, rgba(24,45,6,1)), color-stop(89%, rgba(74,95,58,1)), color-stop(100%, rgba(74,95,58,1)));
background: -webkit-linear-gradient(45deg, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 60%, rgba(74,95,58,1) 89%, rgba(74,95,58,1) 100%);
background: -o-linear-gradient(45deg, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 60%, rgba(74,95,58,1) 89%, rgba(74,95,58,1) 100%);
background: -ms-linear-gradient(45deg, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 60%, rgba(74,95,58,1) 89%, rgba(74,95,58,1) 100%);
background: linear-gradient(45deg, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 60%, rgba(74,95,58,1) 89%, rgba(74,95,58,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182d06', endColorstr='#4a5f3a', GradientType=1 );
Copy text
Color format 
}

header > img, h1, nav  {
	/*display: inline-block;*/
	float: left;
	margin-left: .5em;
	width: 50px;
    height: 100px;
}

.header {
	margin: 3em;
	vertical-align: text-bottom;
}

* {
	font-family: Garamond;
	color: white;
	border: 1px solid black;
}

header > img {
	background-color: white;
	width: 70px;
    height: 70px;
}

header > h1 {
	width: 600px;
    height: 30px;
}

header > nav {
	width: 600px;
    height: 50px;
}

 nav li {
 	padding: 0 2.5em 0 0;
	display: inline;
	width: 90px;
}

span {
	color: orange;
}

h5 {
	margin-left: 8em; 
	width: 20em;
}

.intro {
	width: 100%;
	height: 29em;
	background-color: 
	
background: rgba(98,125,77,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(98,125,77,1) 0%, rgba(45,61,58,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(98,125,77,1)), color-stop(100%, rgba(45,61,58,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(98,125,77,1) 0%, rgba(45,61,58,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(98,125,77,1) 0%, rgba(45,61,58,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(98,125,77,1) 0%, rgba(45,61,58,1) 100%);
background: radial-gradient(ellipse at center, rgba(98,125,77,1) 0%, rgba(45,61,58,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#2d3d3a', GradientType=1 );
Copy text
Color format 
}

.intro > img {
	float: right;
	margin-right: 5em;
}

.intro-div {
	margin: 5em 53em 10em 6em;
}

.button {
	height: 2.8em;
	width: 8em;
	background-color: white;
	border-radius: 8px;
	box-shadow: 1px 1px 1px black
}

.button p {
	color: #303030;
	text-align: center;
	font-weight: bold;
	;
}

.welcome {
	width: 100%;
	height: 18em;
	background-color: 
	background-color: 
background: rgba(24,45,6,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 97%, rgba(74,95,58,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(24,45,6,1)), color-stop(97%, rgba(24,45,6,1)), color-stop(100%, rgba(74,95,58,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 97%, rgba(74,95,58,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 97%, rgba(74,95,58,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 97%, rgba(74,95,58,1) 100%);
background: radial-gradient(ellipse at center, rgba(24,45,6,1) 0%, rgba(24,45,6,1) 97%, rgba(74,95,58,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#182d06', endColorstr='#4a5f3a', GradientType=1 );

}

.welcome > h2 {
	margin-left: 3em;
}

.welcome-div > img {
	width: 8em;
	height: 6em;
	float: left;
	margin-right: 1em;
	
}

.welcome-div {
	width: 70%;
	margin: 0 0 0 6em;
}

.welcome-div h4 {
	margin-top: -.08em;
}

.about {
	width: 100%;
	height: 15em;
	background-color: 
background: rgba(49,63,39,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(49,63,39,1) 0%, rgba(16,31,4,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(49,63,39,1)), color-stop(100%, rgba(16,31,4,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(49,63,39,1) 0%, rgba(16,31,4,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(49,63,39,1) 0%, rgba(16,31,4,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(49,63,39,1) 0%, rgba(16,31,4,1) 100%);
background: radial-gradient(ellipse at center, rgba(49,63,39,1) 0%, rgba(16,31,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313f27', endColorstr='#101f04', GradientType=1 );

}

.about_about-us, .about_teachers, .about_students {
	margin-top: 2em;
	width: 25%;
	height: 12em;
	display: inline-block;
	vertical-align: top;
}

.about_about-us {
	margin-left: 6em;
}

footer {
	display: inline-block;
	width: 100%;
	height: 6em;
	background-color: black;
	color: tomato;
}

footer > p {
	padding-top: 1em;
	display: inline;
	width: 24em;
	margin-left: 6em; 
}

#footer-p {
	margin-left: 24em;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}